.input__native {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.input__wrapper {
    position: relative;
    font-family: 'MuseoModerno', sans-serif;
    width: border-box;
    margin-bottom: 20px !important;
}

.input__container {
    position: relative;
    width: 100%;
}

.input__message {
    margin-top: 10px;
    font-size: 13px;
}

.input__message--error {
    color: var(--red);
}

.icon {
    position: absolute;
    z-index: 5;
    fill: var(--grey);
}

.icon--active {
    fill: var(--green);
}

.icon--error {
    fill: var(--red);
}

.left__icon {
    top: 10px;
    left: 10px;
}

.right__icon {
    top: 10px;
    right: 10px;
}

.input {
    width: 100%;
    min-width: 120px;
    padding: 12px 24px 12px 16px;
    z-index: 1;

    border-top: none;
    border-left: none;
    border-bottom: 3px solid;
    border-right: 2px solid;
    border-radius: 5px;
    outline: 2px solid var(--grey);
    transition: all linear 175ms;

    font-size: 18px;
    line-height: 120%;
    color: var(--black);
    background-color: var(--white);
    border-color: var(--grey);
    box-shadow: 2px 2px 4px 0 var(--grey);
}

.input--rightIcon {
    padding-right: 60px;
}

.input--leftIcon {
    padding-left: 50px;
}

.input__error {
    outline: 2px solid var(--red);
    border-color: var(--red);
    box-shadow: 2px 2px 4px 0 var(--red);
}

.input__label {
    position: absolute;
    top: 8px;
    left: 16px;

    font-size: 18px;
    transition: all linear 350ms;
}

.input__label--leftIcon {
    left: 46px;
}

.input__label--active {
    top: -10px;
    left: 10px;
    padding: 0 8px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px solid var(--grey);
    background-color: var(--white);

    font-size: 13px;
    line-height: 15px;
    transition: all linear 175ms;
}

.input__label:before {
    content: '';
    position: absolute;
    cursor: text;
    top: -1px;
    left: 0;
    height: 9px;
    width: 100%;
    border-top-left-radius: 5px;
    border-left: 2px solid var(--grey);
    background-color: transparent;
    opacity: 0;
}

.input__label:after {
    content: '';
    position: absolute;
    cursor: text;
    top: -1px;
    right: 0;
    height: 9px;
    width: 100%;
    border-top-right-radius: 5px;
    border-right: 2px solid var(--grey);
    background-color: transparent;
    opacity: 0;
}

.input__label--active:after {
    opacity: 1;
}

.input__label--active:before {
    opacity: 1;
}

.input__label--error {
    border-top: 2px solid var(--red);
}

.input__label--error:before {
    border-left: 2px solid var(--red);
}

.input__label--error:after {
    border-right: 2px solid var(--red);
}