@keyframes growth {
    0% {
        opacity: 0;
        width: 0;
    }

    50% {
        opacity: 0;
        width: 45%;
    }

    100% {
        opacity: 1;
    }
}

.wizard {
    width: 100%;
    min-height: 300px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    transition: all linear 350ms;
}

.wizard__column {
    animation: growth 1s;
    width: 45%;
}

.wizard__column--left {
    margin-right: 20px;
}

.green {
    color: var(--green);
}

.orange {
    color: var(--orange);
}