.switch {
    position: relative;
    display: inline-flex;
    width: 60px;
    height: 32px;
    margin: 0 10px;
}

.switch input {
    width: 0;
    height: 0;
}

/* The my-slider/track of the switch */
.my-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border-radius: 32px;
    background-color: #ccc;
    transition: 0.4s;
}

/* The thumb of the switch */
.my-slider:before {
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
}

.switch input:checked + .my-slider--green {
    background-color: var(--green);
}

.switch input:checked + .my-slider--orange {
    background-color: var(--orange);
}

.switch input:checked + .my-slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}