.autocomplete__container {
    position: relative;
}

.autocomplete__list {
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 0;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    background-color: var(--white);
    box-shadow: 8px 8px 11px -1px rgba(34, 60, 80, 0.2);
    border-right: 2px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.autocomplete__item {
    padding: 20px 10px;
    border-top: 1px solid var(--grey);
    cursor: pointer;
    transition: all linear 175ms;
}

.autocomplete__item:first-child {
    border-top: none;
}

.autocomplete__item:hover {
    background-color: var(--white-hover);
}