.my__loader {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    color: var(--green) !important;
    border-right: 5px solid var(--green);
    border-left: 5px solid var(--orange);
    border-bottom: 5px solid var(--orange);
    border-top: 5px solid var(--orange);
    scale: 3;
    z-index: 100;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 40px 40px 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 8px 8px 11px -1px rgba(34, 60, 80, 0.2);
    transition: all linear 350ms;
}

.card--registration,
.card--login {
    animation: appear 1s;
}

.auth__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.green__title {
    font-size: 24px;
    color: var(--green);
    margin-bottom: 20px;
}

.green {
    color: var(--green);
}

.orange__title {
    font-size: 24px;
    color: var(--orange);
    margin-bottom: 20px;
}

.orange {
    color: var(--orange);
}

.registration__button {
    width: 100%;
    margin-bottom: 20px;
}

.registration__input {
    width: 100%;
}

.registration__input:last-child {
    margin-bottom: 0;
}

.snacks {
    animation: appear 1s;
    display: flex;
    width: 300px;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    color: var(--orange);
}
