.check {
    content: url("./icons/check__bold.svg");
    width: 30px;
    height: 30px;
    padding: 3px;
    opacity: 0;

    border-radius: 50%;

    transition: all linear 175ms;
}

.check:hover {
    border: 3px dashed var(--white);
}

.check--visible {
    transform: scale(1.1);
    opacity: 1;
}